.list{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    font-size: larger;
    /* height: 38px; */
    min-height: 40px;
    max-height: 4dvh;
}

a{
    text-decoration: none;
    color: white;
}

.item6{
    /* justify-self: end; */
    display: flex;
    justify-content: flex-end;
}

.item6-1{
    align-self: center;
}

.item6-2{
    align-self: center;
}

.item2{
    align-self: center;
}

#navbar2{
    visibility: hidden;
    position: fixed;
    top: 0px;
    width: auto;
    background-color:#0c0e0e;
    color: rgb(255, 254, 254);
    display: inline-block;
    height: 100dvh;
    z-index: 20;
    visibility: hidden;
}

#navbar2:hover{
    visibility: visible;
}

.list2{
    font-size: larger;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.logo,.box1,.box2,.box3,.box4{
    font-size: 140%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    margin: 5px 32px 40px 8px;
}

.box1,.box2,.box3,.box4{
    margin: 5px 25px 40px 15px;
}


img{
    border-radius: 30%;
}




@media (max-width: 600px){
    .item1{
        width: 100px;
    }
}
