*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.div-nav {
    height: 10vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo {
    background-image: url(logo.png);
    height: 10vmin;
    width: 8vmin;
    background-size: cover;
    background-color: rgb(14, 13, 13);
    border-radius: 50%;
}

.div-home {
    height: 6vmin;
    width: 20vmin;
    background-color: rgb(219, 20, 20);
}
.div-Signin {
    height: 6vmin;
    width: 20vmin;
    background-color: rgb(141, 42, 42);
}
.div-Login{
    height: 6vmin;
    width: 20vmin;
    background-color: rgb(177, 48, 48);
}

/* //////////////      main body css            /////////////*/


.main-body {
    height: 110vh;
    background-color: rgb(47, 233, 202); 
}

.div-row {
    border: 3vmin solid rgb(47, 233, 202);
    height: 30vmin;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}

.div-song-continer {
    border: .3vmin solid black;
    height: 20vmin;
    width: 25vmin;
    background-color: rgb(87, 231, 133);
}

/* testing perpose  */
.img { 
    background-image: url(/image/img1.jpg);
    background-size: cover;
}

/* rest imgaes will be put by js */

/*                             footer                        */ 

.div-footer {
    height: 25vh;
    background-color: rgb(63, 63, 240);
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-footer-main {
    display: flex;
    width: 90%;
    height: 18vmin;
    /* background-color: rgb(255, 184, 91); */
    flex-direction : column;
}
.footer-text {
    font-size: 3vmin;
    margin: 1vmin;
    margin-left: 40vmin;
    color: white;
    gap: 5vmin;

}